.setupProfile {
    padding: 8px;
}

.setupProfile .hi {
    font-size: 1.3em; text-align: center;
}

.setupProfile .welcome {
    margin: 15px 0 20px;
    font-style: italic; text-align: center;
}

.setupProfile img.profile {
    width: 200px; height: 200px;
}

.setupProfile .inputDiv {
    width: 200px;
}

.setupProfile .buttonDiv {
    margin-top: 15px;
}